h1{ 
text-align: center;
border: 1px solid blue;
font-family: 'Playfair Display', serif;
}
div{
  border:1px solid red;
  font-family: 'KoHo', sans-serif;
}
ul{
  border:1px solid red;
  font-style: italic;
  font-family: 'KoHo', sans-serif;
}
